<div class="c-entry">

  <div class="c-entry__page-content"
    ng-bind-html="$ctrl.$sce.trustAsHtml($ctrl.sayonaraSite.pages[0].content)">
  </div>

    <div class="c-entry__entry__title-container">
      <h1 class="c-entry__entry__title-container__title">
        {{$ctrl.entry.title}}
      </h1>
    </div>

    <div class="c-entry__entry__content animated fadeIn"
      ng-bind-html="$ctrl.$sce.trustAsHtml($ctrl.entry.content)">
    </div>

    <div class="c-entry__entry__date">
      {{$ctrl.entry.date | date:'longDate'}}
    </div>

    <div class="c-entry__entry__back-container">
      <div class="c-entry__entry__back-container__back"
        ng-click="$ctrl.goBackHome()">
        << Back
      </div>
    </div>
</div>
