.c-entry {

  @include element('page-content') {
    margin-bottom: 20px;
  }


  @include element('entry') {

    @include element('title-container') {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      @include element('title') {
        display: inline-block;
        color: $standard;
        transition: all 0.5s;
        margin-bottom: 10px;
      }
    }

    @include element('content') {
      margin-left: auto;
      margin-right: auto;
    }

    @include element('date') {
      margin-top: 10px;
      text-align: right;
    }

    @include element('back-container') {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 20px;

      @include element('back') {
        display: inline-block;
        color: $links;
        transition: all 0.5s;

        &:hover {
          text-decoration: underline;
          color: darken($links, 10%);
          cursor: pointer;
        }
      }
    }
  }
}
